<section class="auth forgot-password-page bg-base d-flex flex-wrap">
  <div class="auth-left d-lg-block d-none">
    <div
      class="d-flex align-items-center flex-column h-100 justify-content-center">
      <img src="assets/images/auth/forgot-pass-img.png" alt="logo" />
    </div>
  </div>
  <div class="auth-right py-32 px-24 d-flex flex-column justify-content-center">
    <div class="max-w-464-px mx-auto w-100">
      <a routerlink="" class="mb-40 max-w-290-px">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <div>
        <h4 class="mb-12">Mot de passe oublié</h4>
        <p class="mb-32 text-secondary-light text-lg">
          Saisissez l'adresse électronique associée à votre compte et nous vous
          enverrons un lien pour réinitialiser votre mot de passe.
        </p>
      </div>
      <form [formGroup]="forgetForm" (ngSubmit)="requestPasswordReset()">
        <div class="icon-field">
          <span class="icon top-50 translate-middle-y">
          </span>
          <input
            type="email"
            class="form-control h-56-px bg-neutral-50 radius-12"
            placeholder="Enter Email"
            formControlName="email" />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-sm btn-sm px-12 py-16 w-100 radius-12 mt-32"
          *ngIf="!loadingButton"
          [disabled]="forgetForm.invalid || loadingButton">
          Envoyer le lien de réinitialisation
        </button>

        <button
          class="btn btn-primary text-sm btn-sm px-12 py-16 w-100 radius-12 mt-32"
          type="button"
          disabled
          *ngIf="loadingButton">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"></span>
          &nbsp;&nbsp;&nbsp;
          chargement...
        </button>
        <div class="text-center">
          <a routerLink class="text-primary-600 fw-bold mt-24">Retour à S'inscrire</a>
        </div>

        <div class="mt-120 text-center text-sm">
          <p class="mb-0">
            Vous avez déjà un compte ?
            <a routerLink="signup" class="text-primary-600 fw-semibold">Inscrivez-vous</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="loading-container" *ngIf="loading">
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>