.sidebar-submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.sidebar-submenu.show {
  max-height: 500px;
  opacity: 1;
  display: block;
}
