<div class="card p-4">
    <h4 class="mb-4">📝 Créer une nouvelle enquête</h4>

    <form [formGroup]="enqueteForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Titre</label>
            <input class="form-control" formControlName="titre" />
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" rows="3"
                formControlName="description"></textarea>
        </div>

        <div class="mb-3">
            <label>Type</label>
            <select class="form-select" formControlName="type">
                <option value="MENSUELLE">Mensuelle</option>
                <option value="TRIMESTRIELLE">Trimestrielle</option>
                <option value="SEMESTRIELLE">Semestrielle</option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Date de début</label>
                <input type="date" class="form-control"
                    formControlName="dateDebut" />
            </div>
            <div class="col-md-6 mb-3">
                <label>Date de fin</label>
                <input type="date" class="form-control"
                    formControlName="dateFin" />
            </div>
        </div>

        <button class="btn btn-primary" [disabled]="loading">
            {{ loading ? 'Création en cours...' : 'Créer Enquête' }}
        </button>
    </form>
</div>
