<section class="auth bg-base d-flex flex-wrap">
  <div class="auth-left d-lg-block d-none">
    <div
      class="d-flex align-items-center flex-column h-100 justify-content-center"
    >
      <img src="assets/images/auth/auth-img.png" alt="" />
    </div>
  </div>
  <div class="auth-right py-32 px-24 d-flex flex-column justify-content-center">
    <div class="max-w-464-px mx-auto w-100">
      <div>
        <a routerlink="" class="mb-40 max-w-290-px">
          <img src="assets/images/logo.png" alt="logo" />
        </a>
        <h4 class="mb-12">Inscrivez-vous</h4>
        <p class="mb-32 text-secondary-light text-lg">
          Bienvenue ! Veuillez entrer vos coordonnées
        </p>
      </div>
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onSignup()"
        class="container"
        style="max-width: 1200px"
      >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="username">Nom d'utilisateur</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
              placeholder="Nom d'utilisateur"
              required
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nom">Nom</label>
            <input
              type="text"
              id="nom"
              class="form-control"
              formControlName="nom"
              placeholder="Nom"
              required
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="prenom">Prénom</label>
            <input
              type="text"
              id="prenom"
              class="form-control"
              formControlName="prenom"
              placeholder="Prénom"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="telephone">Téléphone</label>
            <input
              type="tel"
              id="telephone"
              class="form-control"
              formControlName="telephone"
              placeholder="Téléphone"
              required
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="date_naissance">Date de naissance</label>
            <input
              type="date"
              id="date_naissance"
              class="form-control"
              formControlName="date_naissance"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="adresse">Adresse</label>
            <input
              type="text"
              id="adresse"
              class="form-control"
              formControlName="adresse"
              placeholder="Adresse"
              required
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="genre">Genre</label>
            <select
              name="genre"
              id="genre"
              class="form-control"
              formControlName="genre"
            >
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
            </select>
          </div>
        </div>

        <div class="icon-field mb-16">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Mot de passe"
            required
          />
        </div>

        <button
          type="submit"
          *ngIf="!loading"
          class="btn btn-primary w-100 mt-3"
          [disabled]="signupForm.invalid"
        >
        S'inscrire
        </button>
        <button
          type="submit"
          *ngIf="loading"
          class="btn btn-primary w-100 mt-3"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
        <div class="mt-32 text-center text-sm">
          <p class="mb-0">
            Avez-vous un compte ?
            <a routerLink="" class="text-primary-600 fw-semibold"
              >Se connecter</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="loading-container" *ngIf="loading">
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
