<div
  class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Dashboard</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a
        router
        class="d-flex align-items-center gap-1 hover-text-primary">
        <i class="ph ph-cube"></i>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Health Track</li>
  </ul>
</div>
<div class="row gy-4">
  <div class="col-xxxl-12">
    <div class="row gy-4">
      <div class="col-xxl-3 col-xl-4 col-sm-6">
        <div class="card p-3 shadow-2 radius-8 h-100 bg-gradient-end-4">
          <div class="card-body p-0">
            <div
              class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">
              <div class="d-flex align-items-center gap-2">
                <span
                  class="mb-0 w-48-px h-48-px bg-lilac-100 text-lilac-600 flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6 mb-0">
                  <i class="ri-award-fill"></i>
                </span>
                <div>
                  <h6 class="fw-semibold mb-2">0</h6>
                  <span
                    class="fw-medium text-secondary-light text-sm">admin</span>
                </div>
              </div>
            </div>
            <p class="text-sm mb-0">
              <span class="text-lilac-600">0</span> nouvel admin
            </p>
          </div>
        </div>
      </div>
      <div class="col-xxl-6">
        <div class="card h-100">
          <div class="card-header">
            <div
              class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
              <h6 class="mb-2 fw-bold text-lg mb-0">Patient par âge</h6>
            </div>
          </div>
          <div class="card-body p-24">
            <div class="card shadow-sm p-4">
                test
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
